.editor{
    padding: 2%;
}
.github-logo{
    max-height: 6rem;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .banner {
        height: 19%;
        padding-top: 4rem;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    footer {
      position: inherit;
    }
}
